@import "../styles/mixins"
@import "../styles/variables"

.text
    text-properties()
    border 1px solid grey
    padding 15px
.read_more
    button()
    margin 20px 0
.second_post_btn
    button()
    background-color blue1
    border 1px solid blue1
.back_btn
    button()
    background-color pink
    border 1px solid pink
.readMore_text
    text-properties()
    font-size 16px
    text-align center
    border 1px solid grey
    margin 20px 0
