// Colors
blac = rgb(0,0,0)
blue = rgb(183,225,241)
neon_green = #00ff44 
green1 = #4caf50
blue1 = #b7e1f1
pink =	#FFB6C1
grey = #a3a9ac

// Font Weights
font_weight_light = 100
font_weight_regular = 300
font_weight_medium = 400
font_weight_bold = 500
font_weight_black = 700

box_shadow_01 = 6px 6px 0 0 rgba(83, 128, 115, 0.5);
box_shadow_02 = 6px 6px 0 0 rgba(83, 128, 115, 0.25);
