@import "../styles/mixins"
@import "../styles/variables"

.h2
    font-size 36px
    color red
    text-center()
.clear 
    clear both
.ul
    text-align center
    a
        float left
        width 180px
        height 50px
        border 1px solid blue
        margin-bottom 150px
        text-properties()
        
.ul
    a:nth-child(1)
        margin-right 50px

.button
    button()
       

